<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true">

    <listener>
        <listener-class>smnow.SMBotListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>now</servlet-name>
        <servlet-class>smnow.DoorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>now</servlet-name>
        <url-pattern>/now</url-pattern>
    </servlet-mapping>


</web-app>